html {
	background-color: #dbc8a4;
}

.title {
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

.playArea {
  font-family: "Helvetica", sans-serif;
  align-content: center;
}

.playArea {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  width: 90vw;
  height: 50vh;
  margin: auto;
  border: 2px solid black;
  background-color: #6b4931;
  margin-bottom: 1vh;
  padding: 8px;
}

.buttonPlacement {
  text-align: center;
}

.hat {
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  opacity: .5;
}

#hatOne {
  left: 20vw;
  background-color: yellow;
}
#hatTwo {
  left: 40vw;
  background-color: red;
}
#hatThree {
  left: 60vw;
  background-color: green;
}
#hatFour {
  left: 80vw;
  background-color: blue;
}